header, header .container, header .container .menuitems ul, .home, .home .anim1, .home .inside, .home .inside a, .home .i2, .center, .black, .black .box, .black .box .pic, .about .c2 a, .center2, .truestory .title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@font-face {
  font-family: "tbold";
  src: url("./font/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: "lightt";
  src: url("./font/Poppins-light.ttf");
}
@font-face {
  font-family: "thin";
  src: url("./font/Poppins-ExtraLight.ttf");
}
@font-face {
  font-family: "oswald";
  src: url("./font/Oswald-VariableFont_wght.ttf");
}
@font-face {
  font-family: "robotos";
  src: url("./font/Roboto-Regular.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 15vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 99;
  transition: 1s;
}
header .container {
  width: 95%;
  padding: 0px 12px;
  justify-content: space-around;
}
@media screen and (max-width: 985px) {
  header .container {
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 570px) {
  header .container {
    width: 100%;
    justify-content: space-between;
    padding: 0px;
  }
}
@media screen and (max-width: 300px) {
  header .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
header .container .heading {
  margin-left: 15px;
}
@media (max-width: 215px) {
  header .container .heading a img {
    height: 40px;
    width: 80px;
  }
}
header .container .menuitems .menuicon {
  display: none;
  height: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  font-size: 25px;
  background-color: rgb(255, 8, 82);
}
@media screen and (max-width: 985px) {
  header .container .menuitems .menuicon {
    display: flex;
    margin: 0px 20px;
  }
}
@media screen and (max-width: 300px) {
  header .container .menuitems .menuicon {
    margin: 10px 20px;
    padding: 5px 10px;
    height: 70%;
  }
}
header .container .menuitems ul {
  list-style-type: none;
}
@media screen and (max-width: 985px) {
  header .container .menuitems ul {
    display: none;
  }
}
header .container .menuitems ul li {
  margin: 0px 25px;
  font-family: "lightt";
  font-weight: bold;
}
header .container .menuitems ul li a {
  text-decoration: none;
  color: black;
}

.home {
  height: 142vh;
  width: 100vw;
  background-color: rgb(243, 243, 243);
  position: relative;
}
@media screen and (max-width: 1250px) {
  .home {
    height: 120vh;
  }
}
@media screen and (max-width: 985px) {
  .home {
    background-color: #f0eed4;
  }
}
@media screen and (max-width: 760px) {
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.home .leftimg {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
@media screen and (max-width: 985px) {
  .home .leftimg {
    display: none;
  }
}
.home .rightimg {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
@media screen and (max-width: 1250px) {
  .home .rightimg {
    display: none;
  }
}
.home .anim1 {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10%;
  left: 5%;
  -webkit-animation: anim1 ease-in-out 10s infinite alternate;
          animation: anim1 ease-in-out 10s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transition: all 10s ease 9s;
}
@-webkit-keyframes anim1 {
  0% {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 90px;
    left: 90px;
  }
  50% {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  70% {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 80px;
    left: 70px;
  }
  100% {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 110px;
    left: 110px;
  }
}
@keyframes anim1 {
  0% {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 90px;
    left: 90px;
  }
  50% {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 100px;
    left: 100px;
  }
  70% {
    height: 35px;
    width: 35px;
    position: absolute;
    top: 80px;
    left: 70px;
  }
  100% {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 110px;
    left: 110px;
  }
}
.home .anim2 {
  position: absolute;
  top: 130px;
  left: 700px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: anim2 20s cubic-bezier(0.23, 0.47, 0.83, 0.61) infinite alternate;
          animation: anim2 20s cubic-bezier(0.23, 0.47, 0.83, 0.61) infinite alternate;
  transition: all 9s ease 9s;
}
@-webkit-keyframes anim2 {
  0% {
    height: 70px;
    width: 70px;
  }
  20% {
    height: 40px;
    width: 40px;
  }
  40% {
    height: 55px;
    width: 55px;
    position: absolute;
    top: 90px;
    left: 600px;
  }
  60% {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 90px;
    left: 700px;
  }
  100% {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 130px;
    left: 600px;
  }
}
@keyframes anim2 {
  0% {
    height: 70px;
    width: 70px;
  }
  20% {
    height: 40px;
    width: 40px;
  }
  40% {
    height: 55px;
    width: 55px;
    position: absolute;
    top: 90px;
    left: 600px;
  }
  60% {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 90px;
    left: 700px;
  }
  100% {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 130px;
    left: 600px;
  }
}
.home .anim3 {
  position: absolute;
  bottom: 400px;
  left: 670px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: anim3 9s ease-in-out 2s infinite alternate;
          animation: anim3 9s ease-in-out 2s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transition: all 1s ease 3s;
}
@-webkit-keyframes anim3 {
  0% {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 10px solid yellow;
  }
  20% {
    height: 25px;
    width: 25px;
    bottom: 360px;
    left: 650px;
  }
  50% {
    height: 15px;
    width: 15px;
    bottom: 330px;
    left: 640px;
  }
  70% {
    height: 10px;
    width: 10px;
    bottom: 335px;
    left: 680px;
  }
  100% {
    height: 20px;
    width: 20px;
    bottom: 380px;
    left: 670px;
  }
}
@keyframes anim3 {
  0% {
    height: 20px;
    width: 20px;
    box-shadow: 0px 0px 10px solid yellow;
  }
  20% {
    height: 25px;
    width: 25px;
    bottom: 360px;
    left: 650px;
  }
  50% {
    height: 15px;
    width: 15px;
    bottom: 330px;
    left: 640px;
  }
  70% {
    height: 10px;
    width: 10px;
    bottom: 335px;
    left: 680px;
  }
  100% {
    height: 20px;
    width: 20px;
    bottom: 380px;
    left: 670px;
  }
}
.home .anim4 {
  position: absolute;
  bottom: 150px;
  left: 750px;
  height: 105;
  width: 105;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: anim4 9s ease-in-out 2s infinite alternate;
          animation: anim4 9s ease-in-out 2s infinite alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  transition: all 0.9s ease 5s;
}
@-webkit-keyframes anim4 {
  0% {
    height: 80px;
    width: 80px;
    bottom: 160px;
    left: 770px;
  }
  30% {
    height: 100px;
    width: 100px;
    bottom: 180;
    left: 740px;
  }
  100% {
    height: 110px;
    width: 106px;
    bottom: 150px;
    left: 780px;
  }
}
@keyframes anim4 {
  0% {
    height: 80px;
    width: 80px;
    bottom: 160px;
    left: 770px;
  }
  30% {
    height: 100px;
    width: 100px;
    bottom: 180;
    left: 740px;
  }
  100% {
    height: 110px;
    width: 106px;
    bottom: 150px;
    left: 780px;
  }
}
.home .inside {
  color: #112e41;
  margin: 0px 10px;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  z-index: 2;
  line-height: 90px;
}
@media screen and (max-width: 1250px) {
  .home .inside {
    line-height: normal;
  }
}
.home .inside .i1 {
  height: 100%;
  width: 45%;
  padding: 300px 15px;
}
@media screen and (max-width: 760px) {
  .home .inside .i1 {
    height: 40%;
    width: 60%;
    padding: 0px;
  }
}
.home .inside h1 {
  font-family: "tbold";
  font-size: 100px;
  display: block;
}
@media screen and (max-width: 1250px) {
  .home .inside h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 560px) {
  .home .inside h1 {
    font-size: 20px;
  }
}
.home .inside h2 {
  font-family: "tbold";
  font-weight: bold;
  font-size: 70px;
  text-align: center;
}
@media screen and (max-width: 1250px) {
  .home .inside h2 {
    display: inline !important;
    font-size: 30px;
  }
}
@media screen and (max-width: 560px) {
  .home .inside h2 {
    font-size: 20px;
  }
}
@media screen and (max-width: 215px) {
  .home .inside h2 {
    display: block !important;
  }
}
.home .inside h2 span {
  font-family: "tbold";
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  display: block;
}
@media screen and (max-width: 1250px) {
  .home .inside h2 span {
    display: inline !important;
    font-size: 30px;
  }
}
@media screen and (max-width: 560px) {
  .home .inside h2 span {
    font-size: 20px;
  }
}
@media screen and (max-width: 215px) {
  .home .inside h2 span {
    display: block !important;
  }
}
.home .inside h3 {
  font-size: 70px;
  font-family: "thin";
}
@media screen and (max-width: 1250px) {
  .home .inside h3 {
    display: inline !important;
    font-size: 25px;
  }
}
.home .inside a {
  text-decoration: none;
  color: black;
  justify-content: space-around;
  height: 60px;
  width: 200px;
  background-color: #ff1481;
  margin: 50px 0px;
  padding: 14px 35px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 10px 30px rgba(190, 0, 88, 0.5);
  font-family: "lightt";
  font-size: 15px;
  font-weight: bold;
}
@media screen and (max-width: 1100px) {
  .home .inside a {
    margin: 0px;
  }
}
@media screen and (max-width: 985px) {
  .home .inside a {
    width: 170px;
    height: 50px;
    font-size: 12px;
  }
}
.home .i2 {
  vertical-align: middle;
  height: 100%;
  width: 45%;
}
@media screen and (max-width: 760px) {
  .home .i2 {
    height: 20%;
    width: 60%;
  }
}
.home .i2 img {
  height: 500px;
}
@media screen and (max-width: 1250px) {
  .home .i2 img {
    height: 350px;
    position: absolute;
    top: 200px;
  }
}
@media screen and (max-width: 760px) {
  .home .i2 img {
    position: absolute;
    height: 250px;
    top: 100px;
  }
}

.center {
  height: 45vh;
  width: 100vw;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 130px;
}
.center h1 {
  font-family: oswald;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #112e41;
  font-weight: bold;
}
@media (max-width: 991px) {
  .center h1 {
    font-size: 25px;
    word-wrap: break-word;
  }
}
.center h6 {
  font-size: 16px;
  font-family: "lightt";
  color: rgb(255, 0, 43);
  word-wrap: break-word;
}

.black {
  width: 100vw;
  background-color: #162b45;
}
@media (max-width: 1040px) {
  .black {
    flex-wrap: wrap;
    word-wrap: break-word;
  }
}
.black .box {
  background-color: #2e4158;
  width: 18%;
  margin: 200px 20px;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 10px;
  border-radius: 5px;
  transition: 1s;
}
@media (max-width: 1040px) {
  .black .box {
    width: 32%;
    padding: 20px 5px;
    margin: 10px;
  }
}
@media (max-width: 622px) {
  .black .box {
    width: 80%;
  }
}
.black .box:hover {
  background-color: white;
}
.black .box:hover > .pic {
  background-color: #ff1481;
}
.black .box:hover > h1 {
  color: black;
}
.black .box:hover > p {
  color: rgb(153, 147, 147);
}
.black .box .pic {
  height: 60px;
  width: 60px;
  min-width: 60px;
  min-height: 60px;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  background-color: #647580;
}
.black .box h1 {
  font-family: oswald;
  color: white;
  word-wrap: break-word;
}
.black .box p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  text-shadow: 0px 0px 2px solid rgb(161, 161, 161);
  margin: 0px 20px;
  color: rgb(170, 170, 170);
  font-family: robotos;
  font-weight: bold;
  word-wrap: break-word;
}

.about {
  width: 100vw;
  padding: 50px 0px;
  position: relative;
  flex-direction: row;
  gap: 100px;
}
@media (max-width: 984px) {
  .about {
    flex-wrap: wrap;
    margin: 50px 0px;
    padding: 200px 0px;
  }
}
.about .anim1 {
  position: absolute;
  top: 20px;
  left: 60px;
  -webkit-animation: abanim1 15s infinite alternate;
          animation: abanim1 15s infinite alternate;
}
@-webkit-keyframes abanim1 {
  0% {
    position: absolute;
    top: 40px;
    left: 70px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 100px;
    left: 80px;
    height: 10px;
    width: 10px;
  }
}
@keyframes abanim1 {
  0% {
    position: absolute;
    top: 40px;
    left: 70px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 50px;
    left: 80px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 20px;
    left: 30px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 100px;
    left: 80px;
    height: 10px;
    width: 10px;
  }
}
.about .anim2 {
  position: absolute;
  top: 350px;
  right: 50px;
  -webkit-animation: abanim2 10s infinite alternate;
          animation: abanim2 10s infinite alternate;
}
@-webkit-keyframes abanim2 {
  0% {
    position: absolute;
    top: 350px;
    right: 50px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 450px;
    right: 80px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 330px;
    right: 50px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 420px;
    right: 90px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 500px;
    right: 70px;
    height: 10px;
    width: 10px;
  }
}
@keyframes abanim2 {
  0% {
    position: absolute;
    top: 350px;
    right: 50px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 450px;
    right: 80px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 330px;
    right: 50px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 420px;
    right: 90px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 500px;
    right: 70px;
    height: 10px;
    width: 10px;
  }
}
.about .anim3 {
  position: absolute;
  top: 550px;
  left: 500px;
  -webkit-animation: abanim3 10s infinite alternate;
          animation: abanim3 10s infinite alternate;
  z-index: 3;
}
@-webkit-keyframes abanim3 {
  0% {
    position: absolute;
    top: 600px;
    left: 500px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 650px;
    left: 430px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 630px;
    left: 450px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 570px;
    left: 490px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 490px;
    left: 580px;
    height: 10px;
    width: 10px;
  }
}
@keyframes abanim3 {
  0% {
    position: absolute;
    top: 600px;
    left: 500px;
    height: 40px;
    width: 40px;
  }
  30% {
    position: absolute;
    top: 650px;
    left: 430px;
    height: 60px;
    width: 60px;
  }
  50% {
    position: absolute;
    top: 630px;
    left: 450px;
    height: 70px;
    width: 70px;
  }
  75% {
    position: absolute;
    top: 570px;
    left: 490px;
    height: 90px;
    width: 90px;
  }
  100% {
    position: absolute;
    top: 490px;
    left: 580px;
    height: 10px;
    width: 10px;
  }
}
.about .c1 {
  width: 47%;
  margin: 200px 0px;
  background-image: url("https://preview.colorlib.com/theme/kanox/img/about_overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (max-width: 984px) {
  .about .c1 {
    width: 100%;
    margin: 0px 10px;
  }
}
@media (max-width: 984px) {
  .about .c1 .big {
    width: 100%;
  }
}
.about .c1 .small {
  position: absolute;
  top: -110px;
  left: 300px;
  z-index: 2;
}
@media (max-width: 984px) {
  .about .c1 .small {
    display: none;
  }
}
.about .c1 .frame {
  height: 210px;
  width: 190px;
  border: 8px solid rgb(255, 0, 128);
  position: absolute;
  right: 200px;
  bottom: -20px;
}
@media screen and (max-width: 1250px) and (min-width: 985px) {
  .about .c1 .frame {
    display: none;
  }
}
@media (max-width: 984px) {
  .about .c1 .frame {
    height: 160px;
    width: 160px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
}
.about .c1 .frame h2 {
  position: absolute;
  top: 40px;
  left: 120px;
  font-weight: bold;
  font-family: "oswald";
  font-size: 45px;
  letter-spacing: 1px;
  line-height: 50px;
  color: #112e41;
  word-wrap: break-word;
}
@media (max-width: 984px) {
  .about .c1 .frame h2 {
    font-size: 25px;
    color: white;
    left: 5px;
    word-wrap: break-word;
  }
}
.about .c2 {
  padding-left: 100px;
  padding-right: 80px;
  margin: 200px 0px;
  margin-left: 100px;
  width: 45%;
  margin: 150px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33vw;
  text-align: left;
  word-wrap: break-word;
}
@media (max-width: 984px) {
  .about .c2 {
    width: 100%;
    margin: 0px 10px;
    padding: 0px;
  }
}
.about .c2 a {
  text-decoration: none;
  color: black;
  justify-content: space-around;
  height: 60px;
  width: 180px;
  background-color: #ff1481;
  margin: 50px 0px 0px;
  padding: 22px 30px;
  border-radius: 5px;
  font-family: robotos;
  font-size: 14px;
  color: white;
  font-weight: bold;
  box-shadow: 0px 10px 30px rgba(190, 0, 88, 0.5);
  word-wrap: break-word;
}
.about .c2 h6 {
  font-family: "robotos";
  font-weight: bold;
  color: #ff1481;
  font-size: 14px;
  word-wrap: break-word;
}
.about .c2 h1 {
  font-family: "oswald";
  font-size: 30px;
  font-weight: bold;
  color: #112e41;
  padding-right: 20px;
  word-wrap: break-word;
}
.about .c2 h4 {
  font-family: "oswald";
  font-size: 20px;
  font-weight: 100;
  color: #112e41;
  margin: 20px 0px;
  word-wrap: break-word;
}
.about .c2 p {
  font-family: "robotos";
  font-size: 15px;
  color: #646464;
  line-height: 30px;
  word-wrap: break-word;
  padding-right: 20px;
}

.recentwork {
  width: 100vw;
  background-color: rgb(218, 244, 253);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}
@media (max-width: 900px) {
  .recentwork {
    display: flex;
    gap: 40px;
  }
}
.recentwork .container {
  width: 100%;
}
.recentwork .rw1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  font-family: oswald;
}
.recentwork .rw1 h5 {
  color: #ff1481;
}
.recentwork .rw1 h1 {
  font-size: 40px;
}
@media (max-width: 900px) {
  .recentwork .rw1 {
    display: flex;
    gap: 20px;
  }
  .recentwork .rw1 h1 {
    font-size: 20px;
  }
}
.recentwork .rw2, .recentwork .rw4, .recentwork .rw3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 80px;
}
@media (max-width: 900px) {
  .recentwork .rw2, .recentwork .rw4, .recentwork .rw3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
  }
}
.recentwork .rw2 .para, .recentwork .rw4 .para, .recentwork .rw3 .para {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 50px;
  font-family: oswald;
  padding-right: 50px;
}
@media (max-width: 1100px) {
  .recentwork .rw2 .para, .recentwork .rw4 .para, .recentwork .rw3 .para {
    width: 70%;
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .recentwork .rw2 .para, .recentwork .rw4 .para, .recentwork .rw3 .para {
    width: 100%;
  }
}
.recentwork .rw2 .para h5, .recentwork .rw4 .para h5, .recentwork .rw3 .para h5 {
  font-size: 15px;
  color: #ff1481;
}
.recentwork .rw2 .para h1, .recentwork .rw4 .para h1, .recentwork .rw3 .para h1 {
  font-size: 30px;
  padding-right: 20px;
  color: #112e41;
}
@media (max-width: 1100px) {
  .recentwork .rw2 .para h1, .recentwork .rw4 .para h1, .recentwork .rw3 .para h1 {
    font-size: 20px;
  }
}
.recentwork .rw2 .para p, .recentwork .rw4 .para p, .recentwork .rw3 .para p {
  padding-right: 10px;
  color: #112e41;
}
.recentwork .rw2 .para a, .recentwork .rw4 .para a, .recentwork .rw3 .para a {
  color: black;
  text-decoration: none;
}
.recentwork .rw2 .para a:hover, .recentwork .rw4 .para a:hover, .recentwork .rw3 .para a:hover {
  color: #ff1481;
}
.recentwork .rw2 .photo, .recentwork .rw4 .photo, .recentwork .rw3 .photo {
  height: 450px;
  width: 50%;
  min-width: 30%;
  min-height: 45%;
}
@media (max-width: 1100px) {
  .recentwork .rw2 .photo, .recentwork .rw4 .photo, .recentwork .rw3 .photo {
    height: 350px;
  }
}
@media (max-width: 900px) {
  .recentwork .rw2 .photo, .recentwork .rw4 .photo, .recentwork .rw3 .photo {
    width: 100%;
  }
}
.recentwork .rw2 .photo img, .recentwork .rw4 .photo img, .recentwork .rw3 .photo img {
  height: 100%;
  width: 100%;
}
.recentwork .rw4 img {
  height: 100%;
  width: 100%;
}
.recentwork .rw3 {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
  align-items: center;
  gap: 80px;
}
@media (max-width: 900px) {
  .recentwork .rw3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 50px;
    padding: 20px;
  }
}
.recentwork .rw3 .photo img {
  height: 100%;
  width: 100%;
}
.recentwork .rw5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: #112e41;
  padding: 100px 50px;
}
@media (max-width: 1150px) {
  .recentwork .rw5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px 20px;
  }
}
@media (max-width: 860px) {
  .recentwork .rw5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 50px 20px;
  }
}
.recentwork .rw5 .icons {
  color: white;
  background-color: transparent;
  height: 20%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 1150px) {
  .recentwork .rw5 .icons {
    margin: 0px 100px;
  }
}
.recentwork .rw5 .icons .photo {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background: url(../images/rw5a.png);
  background-size: contain;
}
.recentwork .rw5 .icons .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: tbold;
}
.recentwork .rw5 .icons .text span {
  font-size: 60px;
}
.recentwork .rw5 .icons .text h4 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: lighter;
  font-size: 25px;
}
.recentwork .rw5 .c2 .photo {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background: url(../images/rw5b.png);
  background-size: contain;
}
.recentwork .rw5 .c3 .photo {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background: url(../images/rw5c.png);
  background-size: contain;
}
.recentwork .rw5 .c4 .photo {
  height: 50px;
  min-height: 50px;
  width: 50px;
  min-width: 50px;
  background: url(../images/rw5d.png);
  background-size: contain;
}

.video {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}
.video .recent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 0px;
}
.video .recent p {
  font-family: oswald;
  color: #ff1481;
  font-size: 15px;
}
.video .recent h2 {
  font-family: oswald;
  font-size: 30px;
}
.video .contain {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: start;
  align-items: flex-start;
}
.video .contain .player {
  height: 100%;
  width: 40%;
  position: relative;
}
.video .contain .player p {
  position: absolute;
  bottom: 35%;
  left: 35%;
  font-size: 18px;
  font-family: robotos;
  color: white;
}
.video .contain .player .imgdiv {
  height: 100%;
  width: 100%;
  background-color: black;
}
.video .contain .player .imgdiv img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.3;
}
.video .contain .player a {
  position: absolute;
  text-decoration: none;
  left: 40%;
  top: 40%;
  color: white;
  height: 80px;
  width: 80px;
  background-color: #ff1481;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .contain .player a i {
  z-index: 2;
}
.video .contain .player a span {
  height: 80px;
  width: 80px;
  background-color: #ff1481;
  -webkit-animation: play 1.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
          animation: play 1.2s cubic-bezier(0.17, 0.67, 0.83, 0.67) infinite;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
@-webkit-keyframes play {
  0% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  50% {
    height: 140%;
    width: 140%;
    opacity: 0.2;
  }
  100% {
    height: 180%;
    width: 180%;
    opacity: 0.1;
  }
}
@keyframes play {
  0% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
  50% {
    height: 140%;
    width: 140%;
    opacity: 0.2;
  }
  100% {
    height: 180%;
    width: 180%;
    opacity: 0.1;
  }
}
.video .contain .move {
  width: 40%;
  height: 100%;
  background-color: #2e4158;
  opacity: 0.5;
}
.video .profile {
  display: flex;
  height: 80vh;
  width: 50vw;
  justify-content: start;
  align-items: flex-start;
  padding: 40px 30px;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.video .profile .photo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.video .profile .photo .profileimg {
  height: 60px;
  width: 60px;
  opacity: 0.5;
}
.video .profile .photo .pi3 {
  height: 160px;
  width: 160px;
}
.video .profile .photo span {
  display: flex;
  gap: 20px;
  font-size: 30px;
}
.video .profile .textcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: yellow;
  overflow: hidden;
}
.video .profile .textcontainer .text {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 600px;
  gap: 40px;
}
.video .profile .textcontainer .text .p1 {
  font-family: robotos;
  font-size: 16px;
  font-style: italic;
  line-height: 30px;
  width: 100%;
  padding-right: 60px;
}
.video .profile .textcontainer .text .logoname {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 40px;
  width: 100%;
}

.center2 {
  height: 45vh;
  width: 100vw;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  padding: 130px;
}
.center2 h1 {
  font-family: oswald;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #112e41;
  font-weight: bold;
}
@media (max-width: 991px) {
  .center2 h1 {
    font-size: 25px;
    word-wrap: break-word;
  }
}
.center2 h6 {
  font-size: 16px;
  font-family: "lightt";
  color: rgb(255, 0, 43);
  word-wrap: break-word;
}

.team {
  height: 125vh;
  width: 100vw;
  background-color: #162b45;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.team .member {
  height: 68%;
  background-color: transparent;
  border: 1px solid gray;
  padding: 20px;
}
.team .member a {
  color: whitesmoke;
  text-decoration: none;
}
.team .member a a {
  color: black;
  text-decoration: none;
}
.team .member .names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
}
.team .member .names a:hover {
  color: #ff1481;
}
.team .member .names h3 {
  font-family: oswald;
  font-size: 26px;
}
.team .member .names p {
  font-family: robotos;
  font-size: 15px;
  color: gray;
}
.team .member .names ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: disc;
  margin: 10px 0px;
  font-family: robotos;
  font-size: 15px;
}
.team .member .names ul li a {
  color: gray;
}

.truestory {
  height: 135vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0px;
}
.truestory .title {
  width: 100vw;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
}
.truestory .title h1 {
  font-family: oswald;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #112e41;
  font-weight: bold;
}
.truestory .title h6 {
  font-size: 16px;
  font-family: "lightt";
  color: rgb(255, 0, 43);
  word-wrap: break-word;
}
.truestory .blockk {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  gap: 30px;
}
.truestory .blockk .member {
  height: 80%;
  background-color: transparent;
  border: 1px solid rgb(221, 221, 221);
}
.truestory .blockk .member a {
  color: whitesmoke;
  text-decoration: none;
}
.truestory .blockk .member a a {
  color: black;
  text-decoration: none;
}
.truestory .blockk .member .names {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
}
.truestory .blockk .member .names a:hover {
  color: #ff1481;
}
.truestory .blockk .member .names h3 {
  font-family: oswald;
  font-size: 26px;
}
.truestory .blockk .member .names p {
  font-family: robotos;
  font-size: 15px;
  color: gray;
}
.truestory .blockk .member .names ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: disc;
  margin: 10px 0px;
  font-family: robotos;
  font-size: 15px;
}
.truestory .blockk .member .names ul li a {
  color: gray;
}/*# sourceMappingURL=style.css.map */