@use "./align";
@import "./color";
@font-face {
    font-family: "tbold";
    src: url("./font/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: "lightt";
    src: url("./font/Poppins-light.ttf");
}
@font-face {
    font-family: "thin";
    src: url("./font/Poppins-ExtraLight.ttf");
}
@font-face {
    font-family: "oswald";
    src: url("./font/Oswald-VariableFont_wght.ttf");
}
@font-face {
    font-family: "robotos";
    src: url("./font/Roboto-Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 15vh;
    @extend %centeralign;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
    transition: 1s;

    .container{
        width: 95%;
        padding: 0px 12px;
        @extend %centeralign;
        justify-content: space-around;
        @media screen and (max-width:985px) {
            width: 100%;
            padding: 0px 40px;
            justify-content: space-between;
        }
        @media screen and (max-width:570px) {
            width: 100%;
            justify-content: space-between;
            padding: 0px;
        }
        @media screen and (max-width:300px) {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
        }

        .heading{
            margin-left: 15px;
            a img{
                @media (max-width:215px) {
                    height: 40px;
                    width: 80px;
                }
            }
        }
        .menuitems .menuicon{
            display: none;
            height: 80%;
            padding: 10px 20px;
            border-radius: 5px;
            color: black;
            font-size: 25px;
            background-color: rgb(255, 8, 82);
            @media screen and (max-width:985px) {
                display: flex;
                margin: 0px 20px;
            }
            @media screen and (max-width:300px) {
                margin: 10px 20px;
                padding: 5px 10px;
                height: 70%;
            }
        }

        .menuitems ul{
            @extend %centeralign;
            list-style-type: none;
            @media screen and (max-width:985px) {
                display: none;
            }
            li{
                margin: 0px 25px;
                font-family: "lightt";
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: black;
                }
                
            }
        }

    }
}
.home{
    height: 142vh;
    width: 100vw;
    background-color: rgb(243, 243, 243);
    position: relative;
    @extend %centeralign;
    @media screen and (max-width:1250px) {
        height: 120vh;
    }
    @media screen and (max-width:985px) {
        background-color: #f0eed4;
        height: 100vh;
    }
    @media screen and (max-width:760px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .leftimg{
        position: absolute;
        bottom: 0px;
        left: 0px;
        @media screen and (max-width:985px) {
            display: none;
        }
    }
    .rightimg{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 1;
        @media screen and (max-width:1250px) {
            display: none;
        }
    }
    .anim1{
        position: absolute;
        height: 40px;
        width: 40px;
        top: 10%;
        left: 5%;
        animation: anim1 ease-in-out 10s infinite alternate;
        animation-delay: 1s;
        @extend %centeralign;
        transition: all 10s ease 9s;
        @keyframes anim1 {
            0%{
                height: 50px;
                width: 50px;
                position: absolute;
                top: 90px;
                left: 90px;
            }
            50%{
                height: 20px;
                width: 20px;
                position: absolute;
                top: 100px;
                left: 100px;
            }
            70%{
                height: 35px;
                width: 35px;
                position: absolute;
                top: 80px;
                left: 70px;
            }
            100%{
                height: 50px;
                width: 50px;
                position: absolute;
                top: 110px;
                left: 110px;
            }
            
        }

    }
    .anim2{
        position: absolute;
        top: 130px;
        left: 700px;
        backface-visibility: hidden;
        animation: anim2 20s cubic-bezier(.23,.47,.83,.61) infinite alternate;
        transition: all 9s ease 9s;
        @keyframes anim2 {
            0%{
                height: 70px;
                width: 70px;
            }
            20%{
                height: 40px;
                width: 40px;
            }
            40%{
                height: 55px;
                width: 55px;
                position: absolute;
                top: 90px;
                left: 600px;
            }
            60%{
                height: 70px;
                width: 70px;
                position: absolute;
                top: 90px;
                left: 700px;
            }
            100%{
                height: 40px;
                width: 40px;
                position: absolute;
                top: 130px;
                left: 600px;
            }
        }

    }
    .anim3{
        position: absolute;
        bottom: 400px;
        left: 670px;
        backface-visibility: hidden;
        animation: anim3 9s ease-in-out 2s infinite alternate;
        animation-delay: 1s;
        transition: all 1s ease 3s;
        @keyframes anim3 {
            0%{
                height: 20px;
                width: 20px;
                box-shadow: 0px 0px 10px solid yellow;
            }
            20%{
                height: 25px;
                width: 25px;
                bottom: 360px;
                left: 650px;
            }
            50%{
                height: 15px;
                width: 15px;
                bottom: 330px;
                left: 640px;
            }
            70%{
                height: 10px;
                width: 10px;
                bottom: 335px;
                left: 680px;
            }
            100%{
                height: 20px;
                width: 20px;
                bottom: 380px;
                left: 670px;
            }
        }
    }
    .anim4{
        position: absolute;
        bottom: 150px;
        left: 750px;
        height: 105;
        width: 105;
        backface-visibility: hidden;
        animation: anim4 9s ease-in-out 2s infinite alternate;
        animation-delay: 1s;
        transition: all .9s ease 5s;
        @keyframes anim4 {
            0%{
                height: 80px;
                width: 80px;
                bottom: 160px;
                left: 770px;
            }
            30%{
                height: 100px;
                width: 100px;
                bottom: 180;
                left: 740px;
            }
            100%{
                height: 110px;
                width: 106px;
                bottom: 150px;
                left: 780px;
            }
            
        }
    }

    .inside{
        
        color: #112e41;
        margin: 0px 10px;
        text-align: center;
        @extend %centeralign;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        z-index: 2;
        line-height: 90px;
        @media screen and (max-width:1250px) {
            line-height: normal;
        }
        .i1{
            height: 100%;
            width: 45%;
            padding: 300px 15px;
            @media screen and (max-width:760px) {
                height: 40%;
                width: 60%;
                padding: 0px;
            }
        }
        
        h1{
            font-family: "tbold";
            font-size: 100px;
            display: block;
            @media screen and (max-width:1250px) {
                font-size: 40px;
            }
            @media screen and (max-width:560px) {
                font-size: 20px;
            }
        }
        h2{
            font-family: "tbold";
            font-weight: bold;
            font-size: 70px;
            text-align: center;
            @media screen and (max-width:1250px) {
                display: inline !important;
                font-size: 30px;
            }
            @media screen and (max-width:560px) {
                font-size: 20px;
            }
            @media screen and (max-width:215px) {
                display: block !important;
            }
            
            span{
                font-family: "tbold";
                font-weight: bold;
                font-size: 70px;
                text-align: center;
                display: block;
                @media screen and (max-width:1250px) {
                    display: inline !important;
                    font-size: 30px;
                }
                @media screen and (max-width:560px) {
                    font-size: 20px;
                }
                @media screen and (max-width:215px) {
                    display: block !important;
                }
            }
        }
        h3{
            font-size: 70px;
            font-family: "thin";
            @media screen and (max-width:1250px) {
                display: inline !important;
                font-size: 25px;
            }

        }

        a{
            text-decoration: none;
            color: black;
            @extend %centeralign;
            justify-content: space-around;
            height: 60px;
            width: 200px;
            background-color: #ff1481;
            margin: 50px 0px;
            padding: 14px 35px;
            border-radius: 5px;
            color: white;
            box-shadow: 0px 10px 30px rgb(190 0 88 / 50%);
            font-family: "lightt";
            font-size: 15px;
            font-weight: bold;
            @media screen and (max-width:1100px) {
                margin: 0px;
            }
            @media screen and (max-width:985px) {
                width: 170px;
                height: 50px;
                font-size: 12px;
            }
        }
    }
    .i2{
        vertical-align: middle;
        @extend %centeralign;
        height: 100%;
        width: 45%;
        @media screen and (max-width:760px) {
            height: 20%;
            width: 60%;
        }
        img{
            height: 500px;
            @media screen and (max-width:1250px) {
                height: 350px;
                position: absolute;
                top: 200px;
            }
            @media screen and (max-width:760px) {
                position: absolute;
                height: 250px;
                top: 100px;
            }
        }
    }
}
.center{
    height: 45vh;
    width: 100vw;
    background-color: white;
    @extend %centeralign;
    flex-direction: column;
    justify-content: space-between;
    padding: 130px;
    h1{
        font-family: oswald;
        font-size: 42px;
        font-weight: bold;
        letter-spacing: 1.5px;
        color: #112e41;
        font-weight: bold;
        @media (max-width:991px) {
            font-size: 25px;
        }
    }
    h6{
        font-size: 16px;
        font-family: "lightt";
        color: rgb(255, 0, 43);
    }
}
.black{
    height: 90vh;
    width: 100vw;
    background-color: #162b45;
    @extend %centeralign;

    .box{
        background-color: #2e4158;
        height: 60%;
        width: 18%;
        margin: 0px 20px;
        @extend %centeralign;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 10px;
        border-radius: 5px;
        transition: 1s;
        &:hover{
            background-color: white;
        }
        &:hover > .pic{
            background-color: #ff1481;
        }
        &:hover > h1{
            color: black;
        }
        &:hover > p{
            color: rgb(153, 147, 147);
        }
        .pic{
            height: 60px;
            width: 60px;
            font-size: 18px;
            color: white;
            border-radius: 50%;
            background-color: #647580;
            @extend %centeralign;
        }
        h1{
            font-family: oswald;
            color: white;
        }
        p{
            text-align: center;
            font-size: 14px;
            line-height: 24px;
            text-shadow: 0px 0px 2px solid rgb(161, 161, 161);
            margin: 0px 20px;
            color: rgb(170, 170, 170);
            font-family: robotos;
            font-weight: bold;
        }
    }

}
.about{
    height: 130vh;
    width: 100vw;
    padding: 100px 0px 0px 0px;
    position: relative;
    @extend %fsalign;
    .cont{
        margin-top: 150px;
        height: 100%;
        width: 45%;
    }
    .c1{
        width: 47%;
        background-image: url("https://preview.colorlib.com/theme/kanox/img/about_overlay.png");
        background-repeat: no-repeat;
        background-size: 90% 80%;
        position: relative;
        .big{
            position: absolute;
            top: 50px;
        }
        .small{
            position: absolute;
            top: -50px;
            right: 0px;
        }
        
    }
    .c2{
        padding-left: 100px;
        padding-right: 80px;
        padding-top: 100px;
        padding-bottom: 200px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33vw;
        text-align: left;
        word-wrap: break-word;
        width: 39vw;
        
        a{
            text-decoration: none;
            color: black;
            @extend %centeralign;
            justify-content: space-around;
            height: 60px;
            width: 180px;
            background-color: #ff1481;
            margin: 50px 0px 0px;
            padding: 22px 30px;
            border-radius: 5px;
            font-family: robotos;
            font-size: 14px;
            color: white;
            font-weight: bold;
            box-shadow: 0px 10px 30px rgb(190 0 88 / 50%);
        }
        h6{
            font-family: "robotos";
            font-weight: bold;
            color: #ff1481;
            font-size: 14px;
        }
        h1{
            font-family: "oswald";
            font-size: 30px;
            font-weight: bold;
            color: #112e41;
            padding-right: 20px;
        }
        h4{
            font-family: "oswald";
            font-size: 20px;
            font-weight: 100;
            color: #112e41;
            margin: 20px 0px;
        }
        p{
            font-family: "robotos";
            font-size: 15px;
            color: #646464;
            line-height: 30px;
        }
    }
    .frame{
        height: 210px;
        width: 190px;
        border: 8px solid rgb(255, 0, 128);
        position: absolute;
        left: 255px;
        bottom: 20px;
        h2{
            position: absolute;
            left: 100px;
            top: 40px;
            font-weight: bold;
            font-family: "oswald";
            font-size: 45px;
            letter-spacing: 1px;
            line-height: 50px;
            color: #112e41;
        }
    }
}